body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background:rebeccapurple;
}
.header_div{
    background: rgb(163, 103, 206);
    color: forestgreen;
}
.header_div p{
    font-family: fantasy;
    font-size: medium;
    font-weight: bold;
    color:chocolate;
    letter-spacing: 2px;
}
.main_div button{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    letter-spacing: 3px;
    margin-top: 30px;
    width: 130px;

}
.copy_right_footer{
    position:fixed;
    color:rgb(0, 0, 0);
    width: 100%;
bottom: 0;
font-size: 19px;
background-color: rgb(15, 15, 15);
line-height: 3;
text-align: center;
text-shadow: 5px 5px 5px olivedrab;
}